#displayBusInfo {
    background-color: transparent;
}
h3 {
    background-color: powderblue;
    text-emphasis-color: turquoise;
}
#title {
    background-color: #117a8b;
    text-align: center;

}

body {
    background-image: url(https://media.timeout.com/images/103871469/1372/772/image.jpg);
    background-color: #cccccc;
}

@keyframes drive {
    0% { left: 0; margin-left: 0; transform: scaleX(0); }
    5% { left: 0; margin-left: 0; transform: scaleX(-1); }
    45% { left: 100%; margin-left: -200px; transform: scaleX(-1); }
    55% { left: 100%; margin-left: -200px; transform: none; }
    95% { left: 0; margin-left: 0; transform: none; }
    100% { left: 0; margin-left: 0; transform: scaleX(0); }
}

.driving-bus {
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: transparent;
    animation: drive 30s linear infinite;
}
nav{
    position: fixed;
    bottom: -760px;
    width: 100%;
}


/*https://media.giphy.com/media/h6bZANuVGe1ZC/giphy.gif" alt="Bus Image" style="width:250px;height:150px;*/