#displayBusInfo {
    background-color: rgba(240,248,255,50);
}
h3 {
    background-color: rgba(135,206,250,50);
    text-emphasis-color: turquoise;
}
#title {
    background-color: rgba(30,144,255,25);
    text-align: center;

}
img {
    float: right;
}
#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    background-image: url("https://media.timeout.com/images/101897967/1372/772/image.jpg");
    background-color: #cccccc;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
