<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

    <!--@thymesVar id="busInfo" type="training.busboard.web.BusInfo"-->

    <head>
        <title>Bus Information</title>
    </head>
    <body>
        <div layout:fragment="content" class="container body-content">
            <h1>Bus Information</h1>
            <div>
                <p>You entered postcode <span th:text="${busInfo.postcode}"></span></p>
                <div th:each="stopAndArrivals : ${busInfo.stopsAndArrivals}">
                    <h3><b>Departure Board for
                        <span th:text="${stopAndArrivals.stop.commonName}"></span>
                    </b></h3>
                    <div th:each="arrival : ${stopAndArrivals.arrivals}">
                        <p>The <b><span th:text="${arrival.lineName}"></span></b> service to <b><span th:text="${arrival.destinationName}"></span></b> is arriving in <b><span th:text="${arrival.timeToStation}"></span></b> mins</p>
                    </div>
                    <br>
                </div>
            </div>

        </div>
    </body>
</html>